version: '3'

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: project04
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  webapp:
    build: .
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: jdbc:mysql://mysql:3306/project04

volumes:
  mysql_data: